body{
  margin:0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
.transparent{
position: absolute;
z-index: 999;
}
.bg-body-tertiary{
  background: rgba(255, 0, 0, 0) !important;
}
.vh-100{
height: 100vh;
}

.footerstyle li {
  list-style-type: none;
  margin-left: -30px;
}

.footerlists li {
  list-style-type: square;
  margin-left: 20px;
}
.footerstyle ul.footerlists {
  padding-bottom: 14px;
}
.footerlists a, .footerstyle a {
  text-decoration: none;
  color: white;
}

.topMenu li {
  list-style-type: none;
  margin-left: -30px;
  font-size: 24px;
  font-weight: bold;
}

.topMenuLists li {
  list-style-type: square;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 400;
}

.topMenuLists a, .topMenu a {
  text-decoration: none;
  color: white;
}

.topMenu ul.topMenuLists {
  padding-bottom: 14px;
}

.aboutbanner {
  background-image: url('/img/about-banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 360px;
  width: 100%;
  color: white;
}

.partnerbanner {
  background-image: url('/img/partners-head.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  height: 360px;
  width: 100%;
  color: white;
}
.domainareaheader {
  background-image: url('/img/Domain-Area-Banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 360px;
  width: 100%;
  color: white;
}
.investheader {
  background-image: url('/img/Design-for-sucess-Banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 360px;
  width: 100%;
  color: white;
  border-top: 8px solid #7F3F97;
}
.socialimpactheader {
  background-image: url('/img/Catalysing-Social-Impact.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 360px;
  width: 100%;
  color: white;
  border-top: 8px solid #7F3F97;
}
.cacheader {
  background-image: url('/img/communityactioncollab-banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 360px;
  width: 100%;
  color: white;
  border-top: 8px solid #7F3F97;
}
.cacbutton {
  font-size: 16px;
  letter-spacing: 0.5px;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
  background-image: linear-gradient(140deg, #2A7B99 74%, #FBD036 75%);
  padding: 10px 73px 10px 12px;
  border: none;
  border-radius: 0;
}
.cacborderbox {
  border: 1px solid #d2d2d2;
  padding: 12px;
  font-size: 22px;
  color: #1C7C9C;
}
.teamImgBox {
  overflow: hidden;
  align-content: center;
}
.teamImgBox img {
  width: 100%;
  height: 360px;
  overflow: hidden;
}

ul.aboutlink a {
  text-decoration: none;
  color: #000;
}

ul.aboutlink a:hover {
  font-weight: bold;
  color: #7F3F98;
}

.logobox {
  width: 230px;
  height: 230px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.iconbox {
  padding: 20px;
  background-color: #E6F7F4;
}
a:hover .iconbox {
  background-color: #027963;
}

.livelihoodbox {
  background-image: url('/img/livehood-top-image.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 500px;
  width: auto;
}
.wellbeingbox {
  background-image: url('/img/Wellbeing-for-Workforce.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 500px;
  width: auto;
}
.climatebox {
  background-image: url('/img/Climate-Banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 500px;
  width: auto;
  margin-top: -36px;
}
.designbox {
  background-image: url('/img/Design-for-Success.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 500px;
  width: auto;
}
.purplebox {
  display: block;
  padding: 6px 15px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  background-color: #7F3F97;
}
.evidencebox {
  background-image: url('/img/Evidence-for-Change.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 500px;
  width: auto;
}
.evidencebox11 {
  background-image: url('/img/Monitor-for-Results.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 500px;
  width: auto;
}
.evidencebox11 h2, .evidencebox22 h2 {
  color: #fff;
  position: relative;
  top: 400px;
  left: 60px;
}
.evidencebox22 {
  background-image: url('/img/Learning-for-Impact.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 500px;
  width: auto;
}
.livelihoodbox h2, .wellbeingbox h2, .climatebox h2, .designbox h2, .evidencebox h2 {
  color: white;
  position: relative;
  top: 420px;
  background-color: #d2d2d2;
  padding: 10px 10px;
}
.livhoodtext {
  background-color: #E6F7F4;
  padding: 40px 40px;
}
.greanheaderbox {
  background-color: #00AE8E;
  color: white;
  padding: 6px 15px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}
.greenborderbox {
  border: 2px solid #00AE8E;
  padding: 0px;
  margin-top: 15px;
}
.greenborderbox .greenbox {
  border-radius: 0;
  font-weight: 600;
}
.greenborderbox p {
  padding: 15px;
}
.greenbox {
  background-color: #00AE8E;
  color: white;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin-bottom: 10px;
}
.greenbox p {
  margin-left: 15px;
}
.greenbox img {
  margin-top: 10px;
}
.greenboxlarge {
  background-color: #00AE8E;
  color: white;
  padding: 20px 14px;
  margin-bottom: 10px;
}
.transparentbox {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}
.whitetextbox {
  padding: 10px 10px;
  display: block;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}

.whitebox {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}
.whitebox li {
  margin: 10px 10px;
}
.healthbox {
  background-image: url('/img/health-img.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 500px;
  width: auto;
  margin-top: -37px;;
}
.healthbox h2 {
  color: white;
  position: relative;
  top: 400px;
  background-color: #d2d2d2;
  padding: 10px 10px;
}

.imgrow {
  display: flex;
  flex-direction: column;
}
.imgrow img {
  margin-right: 25px;
}

@media (max-width: 767px) {
  
}