body{
  margin:0px;
  padding: 0px;
}

.transparent{
position: absolute;
z-index: 999;
}
.bg-body-tertiary{
  background: rgba(255, 0, 0, 0) !important;
}
.vh-100{
height: 100vh;
}

.footerstyle li {
  list-style-type: none;
  margin-left: -30px;
}

.footerlists li {
  list-style-type: square;
  margin-left: 20px;
}
.footerstyle ul.footerlists {
  padding-bottom: 14px;
}
.footerlists a, .footerstyle a {
  text-decoration: none;
  color: white;
}

.topMenu li {
  list-style-type: none;
  margin-left: -30px;
  font-size: 24px;
  font-weight: bold;
}

.topMenuLists li {
  list-style-type: square;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 400;
}

.topMenuLists a, .topMenu a {
  text-decoration: none;
  color: white;
}

.topMenu ul.topMenuLists {
  padding-bottom: 14px;
}

.aboutbanner {
  background-image: url('/img/about-banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 360px;
  width: 100%;
  color: white;
}

.partnerbanner {
  background-image: url('/img/partners-head.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  height: 360px;
  width: 100%;
  color: white;
}

.teamImgBox {
  overflow: hidden;
  align-content: center;
}
.teamImgBox img {
  width: 100%;
  height: 360px;
  overflow: hidden;
}

ul.aboutlink a {
  text-decoration: none;
  color: #000;
}

ul.aboutlink a:hover {
  font-weight: bold;
  color: #7F3F98;
}

.logobox {
  width: 230px;
  height: 230px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

@media (max-width: 767px) {
  
}